
<nav id="sidebar">
    <div class="p-4 pt-5">
        <a href="#" class="img logo rounded-circle mb-5" style="background-image: url(/Templates/sidebar-01/images/ben.jpeg); "></a>
        <ul class="list-unstyled components mb-5">
           
            <li><a href="#">PortFolio</a> </li>
            <li><a href="/About/AboutList/">Hakkında</a></li>
            <li><a href="/Project/CreateProject/">Yeni Proje Girişi</a></li>
            <li><a href="/Service/ServiceList/">Hizmetler</a></li>
            <li><a href="/Statistic/">İstatistikler</a></li>
            <li><a href="/Project/ProjectList/">Projeler</a></li>
            <li><a href="/Address/AddressList/">İletişim Bilgileri</a></li>
            <li><a href="/Contact/Messagelist/">Gelen Mesajlar</a></li>
            <li><a href="#">Ayarlar</a></li>
            <li><a href="#">Çıkış Yap</a></li>
        </ul>

        <div class="footer">
            <p>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script>
                <br/>
                Tüm Hakları Saklıdır |
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
        </div>

    </div>
</nav>
