
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<div class="alert alert-danger">Kategori Sayısı:@ViewBag.categoryCount</div>
<div class="alert alert-warning">Proje Sayısı6</div>
<div class="alert alert-success">Yetenek Sayısı:@ViewBag.SkillCount</div>
<div class="alert alert-dark">Ortalama Yetenek Puanı:@ViewBag.SkillAvgValue</div>
<div class="alert alert-primary">Son Eklenen Yetenek:@ViewBag.LastSkillTitleName</div>
<div class="alert alert-info">Asp.Net Core Proje Sayısı:3</div>
<div class="alert alert-warning">MVC Proje Sayısı:4</div>
<div class="alert alert-danger">SQL Proje Sayısı:8</div>
<div class="alert alert-dark">C# Proje Sayısı:9</div>
<div class="alert alert-info">Angular Proje Sayısı:2</div>




